.item {
  height: 200px;
  width: 200px;
  border: 0.5px solid grey;
  border-radius: 4px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
  width: 70%;
  grid-gap: 20px;
}

header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}
header h2 {
  font-weight: 600;
}
.refresh-btn {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}
